
{% extends "layout.html" %}

{% block pageTitle %}
  Toucan
{% endblock %}

{% block header %}
  {% include "includes/header-custom.html" %}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">   Toucan project  </h1>

      <p>
       [Toucan project information]
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>Link here to <a href="value-space">hofkjksdfjksjdkfdjskfjdskdfjksjdney.</a></p>
      <p>Another <a href="#0">link</a></p>

      <h2 class="govuk-heading-m">Links </h2>
      <p><a href="https://www.figma.com/file/B2Xk0k3MCy2obzlQCGuA3Gv2/Design-and-protoying-mock-up?node-id=0%3A1">Figma design document </a></p>
      <p><a href="https://docs.google.com/document/d/1fwXdC8_rcNdV4fCW7gUfBiadidrnAJYuJIpiPZrUZIg/edit?usp=sharing"> Google Docs: Notes & Design Document </a> </p>
      <p><a href="#"> Show and tell slides </a> </p>

    </div>
</div>

{% endblock %}
